<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Über mich</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Verbindung zwischen Menschen ist mir Ziel und Motivation zugleich. Vom Punk zur Politikwissenschaft, 
          zur Demokratievermittlung, zur Gewaltfreien Kommunikation und Mediation, mit diversen Schlenkern und Umwegen 
          in Journalismus und Kulturmanagement. </p>
        <p>Rückblickend erscheint dieser Weg recht folgerichtig, als eine Suche nach Möglichkeiten, unser Zusammenleben 
          gerecht und friedlich zu gestalten. Immer neugierig und undogmatisch, jedoch mit eindeutigem Wertekompass unterwegs.</p>
        <p>Fachlich am deutlichsten prägend waren meine Ausbildungen bei Gabriele Seils zur Trainerin für Gewaltfreie 
          Kommunikation sowie Christoph Hatlapa, Mirja Heunemann und Jörg Belitz zur Mediatorin.</p>
      </div>
      <div class="col-lg-4">
        <p>Liebe Kolleg*innen haben mir das Label GFK-Punk verpasst (was ich mir direkt zu Eigen gemacht habe), sowie ein 
          gepflegtes Straßen-Giraffisch attestiert, auch wenn mich die Wissenschaft nie wirklich loslassen wird.</p>
        <p>Im gemeinsamen Lernen von und mit meiner inzwischen erwachsenen Tochter durfte ich die schwierige Balance 
          zwischen Halten und Loslassen, Rahmung und Freiheit immer wieder erleben.</p>
        <p>Persönliche Krisen haben Dankbarkeit und Mitgefühl in mir vertieft und den Wunsch bestärkt, dem Leben dienlich zu 
          sein und es gleichzeitig in all seinen Facetten willkommen zu heißen: Klettern und Zen, Oper und Permakultur, und immer wieder Reisen und Ehrenamt.</p>
      </div>
    </div>
  </div>
</section>
