<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Kontakt</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-12">
          <h5>So finden wir zusammen</h5>
          <p class="text-justify">Wenn Sie sich vorstellen können, dass ich Sie bei Ihrem individuellen Anliegen
            unterstützen kann, dann lade ich Sie ein, mich kennen zu lernen. Nehmen Sie Kontakt auf und lassen Sie uns
            reden. Rufen Sie mich an, schreiben Sie mir eine Mail oder kontaktieren Sie mich über Soziale Netzwerke. Ich
            freue mich darauf Sie kennen zu lernen.</a></p>
          <p>&nbsp;</p>
        </div>
        <div class="col-lg-5">
          <p>Am besten erreichen Sie mich per Mail:</p>
          <p><a href="mailto:meine-mail@posteo.de">meine-mail@posteo.de</a></p>
        </div>
        <div class="col-lg-1">
           </div>
        <div class="col-lg-6">
          <p>Oder Sie rufen mich an unter:</p>
          <p>0176 20501156</p>
        </div>

      </div>
    </div>
  </div>
</section>